:root{
    --background-body: rgb(0, 0, 0);
    --border-color:  #10b143;
    --main-font-color: rgb(255, 255, 255);
  }

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 2rem;
    background-color: var(--background-body);
    border-bottom: 1px solid var(--border-color);
    font-family: sans-serif;
    font-style: italic;
  }

  .title{
    font-size: 40px;
    color: var(--main-font-color);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .textFooter{
    font-size: 20px;
    color: var(--main-font-color);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .headerIcon{
    width: 100px;
    height: auto;
  }

  .content{
    display: flex;
    height: 100px;
    flex-direction: column;
  }

  .body{
    display: flex;
    flex-direction: column;
    margin: 0;
  }

