:root{
    --background-body: #101010;
    --background-task-pane: #ffce00;
    --border-color:  #10b143;
    --main-font-color: rgb(255, 255, 255);
    --main-black-color-font: #101010;
    
  }

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--background-body);
    /*border-bottom: 1px solid var(--border-color);*/
    font-family: sans-serif;
    font-style: italic;
  }

  .githubIcon{
    width: 23px;
    height: 23px;
    margin: 10px;
    border-radius: 50%;
  }

  .title{
    font-size: 40px;
    color: var(--main-font-color);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .subTitle,
  .projectInfo{
    font-size: 30px;
    margin: 10px;
  }

  .subTitleProject{
    color: var(--main-font-color);
    margin: 10px;
  }

  .subTitleTask{
    color: var(--main-black-color-font) ;
  }

  .textFooter{
    font-size: 20px;
    color: var(--main-font-color);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .headerIcon{
    width: 70px;
  }

  .folderIcon{
    width: 30px;
    margin: 5px;
  }

  .infoIcon{
    width: 17px;
    margin: 5px;
  }

  .content{
    display: flex;
    flex-direction: column;
  }

  .body{
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .bodyPane,
  .projectButtonContainer,
  .inputContainer,
  .projectItem,
  .taskFormButtonContainer,
  .infoContainer,
  .leftContainer,
  .rightalContainer{
    display: flex;
    flex-direction: row;
  }

  .bodyPane{
    height: 100%;
    min-height: 100vh;
  }

  .addTaskLabel{
    color: var(--main-black-color-font);
    font-size: 20px;
  }

  .createProjectLabel{
    color: var(--main-font-color);
  }

  .projectButtonContainer,
  .taskFormButtonContainer{
    justify-content: center;
  }

  .projectPane{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--background-body);
    border-top: 1px solid aliceblue;
    border-bottom: 1px solid aliceblue;
  }

  .taskPane{
    display: flex;
    flex-direction: column;
    flex: 70%;
    height: auto;
    background-color: var(--background-task-pane);
  }

  .createProjectIcon{
    width: 40px;
    margin: 5px;
  }

  .createTaskIcon{
    width: 30px;
    margin: 5px;
  }

  .createProjectButton,
  .deleteInfoTask,
  .viewInfoTask,
  .editInfoTask{
    background: transparent;
    cursor: pointer;
    border: solid 2px transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projectList{
    display: flex;
    flex-direction: column;
  }

  .createTaskButton{
    background: transparent;
    cursor: pointer;
    border: solid 2px transparent;
    display: flex;
    align-items: center;
  }

  .projectFormButton{
    background: var(--background-task-pane);
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100px;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px;
    transition: all 0.5s;
  }

  .createProjectForm{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    border-style: dotted;
    padding: 10px;
  }

  .createProjectFormHide{
    display: none;
  }

  .inputProjectName{
    flex: 1;
    margin: 5px;
  }

  .projectName{
    color: var(--main-font-color);
    margin: 5px;
  }

  .projectItem{
    align-items: center;
    margin:10px;
    min-width: 264px;
    cursor: pointer;
  }

  .createTaskForm,
  .editTaskForm,
  .viewTaskForm {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    border: solid 2px rgb(0, 0, 0);
    border-style: dotted;
    padding: 10px;
    margin: 20px;
    gap: 1em;
  }

  .inputTaskData,
  .prioritySelect{
    background-color: #FFEE80;
    border: none;
    height: 25px;;
  }


  .taskFormButton{
    background: var(--background-body);
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100px;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px;
    transition: all 0.5s;
  }

  .createTaskFormHide,
  .editTaskFormHide{
    display: none;
  }

  .leftContainer{
    align-items: center;
  }

  .rightContainer{
    display: flex;
    margin-left: auto;
    align-items: center;
    height: 25px;
  }

  .infoContainer{
    justify-content: space-evenly;
    background-color: #FFEE80;
    margin: 10px 20px;
  }

  /* Hovering selectors*/
  .projectItem:hover,
  .createProjectButton:hover,
  .createTaskButton:hover{
    background: rgb(184, 183, 178);    
  }



  /* Effect when a button is pressed: */
  .createTaskButton:active,
  .createProjectButton:active
  {
    transform: scale(0.98); 
  }

  /* Effect when hovering an accept or cancel button */
  .projectFormButton:hover .spanButton{
    padding-right: 25px;
  }

  .projectFormButton:hover .spanButton:after{
    opacity: 1;
    right: 0;
  }


  .projectFormButton .spanButton:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .projectFormButton .spanButton {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .taskFormButton:hover .spanButton{
    padding-right: 25px;
  }

  .taskFormButton:hover .spanButton:after{
    opacity: 1;
    right: 0;
  }


  .taskFormButton .spanButton:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .taskFormButton .spanButton {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  /* end Effect when hovering an accept or cancel button */

  /* Responsive design*/
  @media (max-width: 800px) {
    .bodyPane{
      flex-direction: column;
    }
    
  }
