:root{
    --background-body: #101010;
    --background-task-pane: #ffce00;
    --border-color:  #10b143;
    --main-font-color: rgb(255, 255, 255);
    --main-black-color-font: #101010;
    
  }

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    background-color: var(--background-body);
    /*border-bottom: 1px solid var(--border-color);*/
    font-family: sans-serif;
    font-style: italic;
  }

  .githubIcon{
    width: 23px;
    height: 23px;
    margin: 10px;
    border-radius: 50%;
  }

  .title{
    font-size: 40px;
    color: var(--main-font-color);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .subTitle{
    font-size: 30px;
    margin: 10px;
  }

  .subTitleProject{
    color: var(--main-font-color);
  }

  .subTitleTask{
    color: var(--main-black-color-font) ;
  }

  .textFooter{
    font-size: 20px;
    color: var(--main-font-color);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .headerIcon{
    width: 70px;
  }

  .folderIcon{
    width: 30px;
    margin: 5px;
  }

  .content{
    display: flex;
    flex-direction: column;
  }

  .body{
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .bodyPane,
  .projectButtonContainer,
  inputContainer{
    display: flex;
    flex-direction: row;
  }

  .projectButtonContainer{
    justify-content: center;
  }

  .projectPane{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: var(--background-body);
    border-top: 1px solid aliceblue;
    border-bottom: 1px solid aliceblue;
  }

  .taskPane{
    display: flex;
    flex: 70%;
    height: auto;
    background-color: var(--background-task-pane);
  }

  .createProjectIcon{
    width: 40px;
    margin: 5px;
  }

  .createProjectButton{
    background: transparent;
    cursor: pointer;
    border: solid 2px transparent;
  }

  .projectFormButton{
    background: var(--background-task-pane);
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    flex: 1;
  }

  .createProjectForm{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    border-style: dotted;
    padding: 10px;
  }

  @media (max-width: 800px) {
    .bodyPane{
      flex-direction: column;
    }
    
  }
